  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #4167bf;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #333;
}

.logo {
  margine-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

nav a {
  margin-left: 20px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: blue;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 66%;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #333;
  transition: color 0.3s, font-size 0.3s;
}

.portfolio-item:hover .portfolio-title {
  color: blue;
  font-size: 20px;
}
